.consolaCommand {
    resize:none;
    width:99%;
    border-style:none;
    padding:0px;
    font-size:15px;
    color:white;
    background-color:black;
}
.consolaCommand:focus {
    outline: none;
    word-wrap:break-word;
}
.consola {
    width:100%;
    border-collapse: collapse;
    font-family: Consolas;
    background-color:black;
    table-layout: fixed;
    height:100vh;
    display:block;
    overflow-y:auto;
}
.consola tr {
    display: flex;
    align-items: stretch;
}
.consola td:last-child {
    flex: 1;
    display:inline-block;
}
.consolaClear {
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.consolaTab-container{
    font-family: Arial,  Verdana, Helvetica, sans-serif;
    font-size: 12px;
    line-height:14px;
    background-color: black;
    overflow: hidden;
}
.consolaTab-container ul{
    list-style: none;
    list-style-position: outside;
    width: 100%;
    margin-left:3vw;
}
.consolaTab-container ul.tab-menu li{
    display: block;
    float: left;
    position: relative;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ddc;
    border-bottom: none;
    border-width: 1px;
    color: #999;
    cursor: default;
    margin-bottom: -1px;
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.consolaTab-container ul.tab-menu li.active{
    background: white;
    color: black;
    border-bottom: 0;
}
.consolaTab-content{
    margin: 0 auto;
    border: 1px solid #ddc;
    border-top-style: none;
    text-align: left;
    padding: 10px;
    height: 500px;
    padding-bottom: 20px;
    font-size: 11px;
    display: none;
}
.consolaTab-container div.active{
    display: block;
}
.consolaTab-content h1{
    line-height: 1em;
    font-size: 22px;
}
.consolaStart {
    color:green;
    position:absolute;
    font-size:x-large;
    margin-left:0.2em;
    margin-top:0.2em;
    background-color: transparent;
    border:none;
}
.consolaStart:focus {
    outline:0;
}
.consolaStart:disabled {
    color:darkslategrey
}
.consolaStop{
    color:red;
    position:absolute;
    font-size:xx-large;
    margin-left:1.2em;
    margin-top:-0.1em;
    background-color: transparent;
    border:none;
}
.consolaStop:focus {
    outline:0;
}
.consolaStop:disabled {
    color:darkslategray
}