 .consolaCommand {
    resize:none;
    width:99%;
    border-style:none;
    padding:0px;
}
.consolaCommand:focus {
    outline: none;
    word-wrap:break-word;
}
.consola {
    width:100%;
    border-collapse: collapse;
    font-family: Consolas;
    background-color:black;
    table-layout: fixed;
    height:100vh;
}
.consola tr {
    display: flex;
    align-items: stretch;
}
.consola td:last-child {
    flex: 1;
    display:inline-block;
}