<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Script Editor</title>
    <script src="../app/output/bundle.js"></script>
    <script>
        var commandPrompt = require('commandPrompt');
        $(document).ready(function() {
            console_ = new commandPrompt({
                showEditor: true
            });
            console_.render();
            $('#console').append(console_.el);
        });
    </script>
</head>
<body style="background-color:black;margin:0px">
    <div id="console" style="height:100vh;width:100vw"></div>
</body>
</html>